body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(33,180,255);
  background: linear-gradient(90deg, rgba(33,180,255,1) 18%, rgba(54,255,139,0.7) 75%);
}

button {
  cursor:pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
